.table-container {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 900px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 200px;
  right: 0;
  left: 500px;
  bottom: 0;
}
.table td,
.table th {
  border: 1px solid #ddd;
  font-size: 15px;
  text-align: center;
}

.table th {
  text-align: center;
  background-color: rgb(247, 90, 90);
  color: white;
  font-size: 25px;
}

img {
  width: 150px;
}
.price {
  color: rgb(253, 84, 84);
}
.title {
  color: #04aa6d;
}
.total {
  color: rgb(252, 252, 252);
  width: 100%;
  text-align: center;
  background-color: rgb(247, 90, 90);
  font-size: 20px;
}
.sum {
  background-color: gold;
  color: rgb(44, 43, 43);
  text-align: center;
  border: 3px solid gold;
  position: absolute;
  left: 379px;
  bottom: -18px;
  width: 54%;
  padding: 19px 13.5px;
  font-size: 20px;
}
.arrow-up {
  margin-bottom: 30px;
  margin-left: 15px;
  position: relative;
  top: 30px;
  right: 5px;
  color: rgb(253, 84, 84);
}
.arrow-down {
  position: relative;
  bottom: 20px;
  left: 3px;
  color: rgb(253, 84, 84);
}
.cart-counter {
  position: relative;
  left: 82px;
  bottom: 10px;
  border: 2px solid gold;
  background-color: gold;
  width: 10px;
  height: 19px;
  border-radius: 1100px;
  text-align: center;
  font-size: 18px;
  padding: 1px 5px;
}
.arrow-up:hover,
.arrow-down:hover {
  transform: scale(1.4);
  color: rgb(241, 70, 70);
  cursor: pointer;
}
.cart-title {
  font-size: 12px;
  margin: 10px;
  padding: 5px;
  border-radius: 100px;
}
.proceed {
  padding: 20px;
  text-align: center;
  background-color: rgb(247, 90, 90);
  border-top: 2px solid white;
  width: 47%;
  color: white;
  font-size: 20px;
  position: absolute;
  right: -1px;
  width: 901px;
  cursor: pointer;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.proceed:hover {
  transform: scale(1.01);
}
.cart-total {
  background-color: rgb(247, 90, 90);
}
.My-Message-container {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.My-Message-purchase {
  font-size: 40px;
  background-color: gold;
  margin: 300px 300px;
  border: 2px solid gold;
  border-radius: 10px;
}
.true-icon {
  font-size: 70px;
  color: #10a502;
  position: absolute;
  right: 49%;
}
.empty-cart {
  color: white;
  border: 2px solid white;
  padding: 40px;
  margin: 400px 200px;
  background-color: #04aa6d;
  font-size: 30px;
}
