img {
  width: 150px;
}
.table {
  text-align: center;
  margin: auto;
  width: 50% !important;
  margin-top: 100px;
}
.proceed {
  font-size: 20px;
  padding: 10px 15px;
  border: 2px solid gold;
  color: white;
  border-radius: 10px;
  background-color: gold;
  width: 100%;
  background-size: cover;
}
.sum {
  color: rgb(243, 52, 52);
  font-size: 20px;
}
.arrow:hover {
  color: red;
  cursor: pointer;
}
.quantity {
  font-size: 20px;
  padding: 0.5rem;
  margin-top: 10px;
}
.title {
  color: rgb(196, 166, 1);
}
th {
  font-size: 30px;
}
.empty-purchase {
  background-color: rgb(69, 204, 69);
  margin: auto;
  width: 50% !important;
  text-align: center;
  margin-top: 100px;
  color: white;
  padding: 2rem;
  border: 2px solid rgb(110, 109, 109);
  border-radius: 10px;
  font-size: 40px;
  position: fixed;
  left: 30%;
  top: 20%;
}
