.contact-container {
  background-color: rgb(255, 255, 255);
  width: 60% !important;
  margin: 0 auto;
  color: white;
  text-align: left;
  align-items: left;
  height: 60vh;
  border-radius: 10px;
}
.contact {
  margin-top: 100px;
  text-align: left;
  width: 50%;
  padding: 50px;
  color: black;
}
.submit-form {
  width: 100%;
  font-size: 20px;
  position: relative;
  bottom: 240px;
  background-color: rgb(225, 65, 100);
  border: 1px solid rgb(225, 65, 100);
}
.submit-form:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 65, 100);
  color: rgb(225, 65, 100);
}
.my-alert-contact {
  width: 50%;
  position: fixed;
  top: 8%;
  left: 25%;
  animation: alert-contact 6s;
}
@keyframes alert-contact {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.select-option {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
}
.form-field {
  position: relative;
  left: 120%;
  bottom: 258px;
  color: black;
}
.form-text-area {
  position: relative;
  left: 120%;
  bottom: 258px;
  color: black;
}
.text-area {
  width: 100%;
  position: relative;
  right: 560px;
  height: 130px;
  padding: 0.5rem;
}
.text-area-comment {
  position: relative;
  right: 560px;
}
