.whole-page {
  background-image: url(https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 100% 1500px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  left: 0px;
  top: -135px;
}
.contact-container {
  text-align: center;
  font-size: 30px;
  background-color: rgb(219, 91, 91);
  position: relative;
  width: 1000px;
  padding: 510px 451.5px;
  border-radius: 10px;
  background-image: url(https://images.pexels.com/photos/753859/pexels-photo-753859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
}

form input {
  padding: 20px;
  border: 2px solid white;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  width: 80%;
}
input:focus {
  outline: none;
}
.whole-page {
  background-color: rgb(255, 253, 253);
}
.btn {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 5px;
  border: 2px solid rgb(47, 248, 255);
  border-radius: 10px;
  background: rgb(47, 248, 255);
  width: 84%;
  margin: 10px;
  cursor: pointer;
}
