.counter,
.wishCounter {
  font-size: 10px;
  text-align: center;
  color: gold;
  border: 1px solid gold;
  border-radius: 50px;
  z-index: 1;
}
.wish-icon,
.cart-icon {
  color: rgb(250, 75, 75);
}
.mynav {
  background-color: rgba(29, 19, 19, 0.514);
}
.link {
  text-decoration: none;
  color: white;
}

@media (min-width: 400px) {
  .mynav {
    font-size: 10px;
  }
  .link {
    display: block;
    padding: 0;
  }
  .search {
    position: absolute;
    top: 70%;
    right: 2%;
    width: 100% !important;
  }
  .search-btn {
    position: absolute;
    top: 70%;
    right: 0%;
    width: 100px;
    height: 40px;
    text-align: center;
  }
  .search-text {
    font-size: 15px;
  }
  .wish-icon {
    position: absolute;
    left: 95%;
    top: 23px;
    font-size: 15px;
  }
  .cart-icon {
    position: absolute;
    left: 90%;
    top: 22px;
    font-size: 15px;
  }
  .counter {
    position: absolute;
    left: 90%;
    top: 22px;
    z-index: 1;
  }
  .wishCounter {
    position: absolute;
    left: 97%;
    top: 22px;
    z-index: 1;
  }
}
@media (min-width: 500px) {
  .mynav {
    font-size: 15px;
  }
  .link {
    padding: 0;
  }
  .search {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 120px !important;
  }
  .search-btn {
    position: absolute;
    top: 10%;
    right: 8%;
    width: 50px;
    height: 40px;
    text-align: center;
  }
  .search-text {
    font-size: 10px;
  }
  .wish-icon {
    left: 96%;
    top: 20px;
    font-size: 15px;
  }
  .cart-icon {
    left: 93%;
    top: 20px;
    font-size: 15px;
    z-index: 1;
  }
}
@media (min-width: 900px) {
  .mynav {
    font-size: 15px;
  }
  .link {
    padding: 0 2rem;
  }
  .search {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 140px !important;
  }
  .search-btn {
    position: absolute;
    top: 10%;
    right: 8%;
    width: 50px;
    height: 40px;
    text-align: center;
  }
  .search-text {
    font-size: 10px;
  }
  .wish-icon {
    left: 96%;
    top: 20px;
    font-size: 15px;
  }
  .cart-icon {
    left: 93%;
    top: 20px;
    font-size: 15px;
    z-index: 1;
  }
}
@media (min-width: 1100px) {
  .mynav {
    width: 100%;
    font-size: 20px;
  }
  .link {
    padding: 0 3.5rem;
  }
  .search {
    position: absolute;
    top: 18%;
    right: 13%;
    width: 220px !important;
  }
  .search-btn {
    position: absolute;
    top: 18%;
    right: 8%;
    width: 100px;
    height: 40px;
    text-align: center;
  }
  .search-text {
    font-size: 18px;
  }
  .wish-icon {
    left: 96%;
    top: 20px;
    font-size: 25px;
  }
  .cart-icon {
    left: 93%;
    top: 20px;
    font-size: 25px;
    z-index: 1;
  }
}
@media (min-width: 1600px) {
  .mynav {
    width: 100%;
    font-size: 25px;
  }
  .link {
    padding: 0 5rem;
  }
  .search {
    position: absolute;
    top: 10%;
    right: 13%;
    width: 290px !important;
  }
  .search-btn {
    position: absolute;
    top: 10%;
    right: 8%;
    width: 120px;
    height: 40px;
    text-align: center;
  }
  .search-text {
    font-size: 18px;
  }
  .wish-icon {
    left: 96%;
    top: 20px;
    font-size: 25px;
  }
  .cart-icon {
    left: 93%;
    top: 20px;
    font-size: 25px;
    z-index: 1;
  }
}
